.nav-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    /*padding: 0 10px;*/

}
.nav-link-content{
    background-color: #e84393;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline-block;
    padding-right: 35px;
}
li > a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: black;
}
.sign-in{
    width: 100px;
    height: 45px;
    border: 1px solid white;
    border-radius: 25px;


}
.sign-in:hover{
    background-color: lightpink;
    color: black;
    border: 1px solid black;
}
.logo-img{
    width: 300px;
}
.logo-content{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
